 <h3>Hello, <%= @member.first_name %></h3>
 <p>Thank you for ordering <%= link_to "a new prompt", prompt_url(@prompt) %></p>
 <p>We've assigned your prompt to one of our writers and we will have that to you by <%= @prompt.due_date %></p>
 <p>If you have any questions don't hestitate to email us!</p>
 <p>Thanks,</p>
 <p>Brad and the Heathcliff team.<p>