<div class="row marginTopS">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="center">New Prompt</h2>
    </div>
    <div class="panel-body">
      <%= render partial: "prompts/form" %>
    </div>
  </div>
  </div>
</div>
