<div class="row marginTopS">
	<div class="col-md-6 col-md-offset-3">
		<h3 class="center">A little bit about us.</h3>
		<p class="marginTopXS">We are just a group of young individuals (I believe they call us 'millenials') based out of Provo, UT who are working hard to create amazing content for businesses and organizations around the globe. We do this by aligning ourselves with motivated, up-and-coming writers.</p>
		<p>We have all heard "content is king", but at Heathcliff we know it is the writers who are really king (or queen). Our goal is to help talented writers get their start, get paid, and make a name for themselves inside of a competive industry.</p>
		<p>For our clients, we make the quality and brand of their content a priority. The way we do this is through our in-house editors. Our editors work with all of our clients and go through each article to ensure it goes above and beyond their standards. This process has helped our current businesses and organizations seamlessly integrate Heathcliff into their marketing process.</p>
		<p>If you have any questions please <%= mail_to "bradleycarl26@gmail.com", "contact us here", subject: "Heathcliff Question", body: "Hi, Heathcliff. I have a few q's for ya" %>.</p>
	</div>
</div>