<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 marginTopL marginBotL">
			<div class="panel panel-default">
				<div class="panel-heading">
				<h3 class="center"><strong>Pricing</strong></h3>
				</div>
				<div class="panel-body">
					<h1 class="center"><span class="label label-primary">$70</span></h1>
					<hr>
					<h6><strong>DESCRIPTION:</strong></h6>
					<p>Submit a writing prompt for $70. A prompt can be for any content you need written i.e. a blog post, a social media post, or web content.</p>
					<hr>
					<h6><strong>Benefits:</strong></h6>
					<h4 class="center">
						<span class="label label-primary">Up to 1200 words</span>
						<span class="label label-primary">5-day turnaround</span>
						<span class="label label-primary">SEO optimized</span>
						<span class="label label-primary">Professional writers</span>
						<span class="label label-primary">In-house editors</span>
					</h4>
				</div>
				<div class="panel-footer">
					<%= link_to "Create Your First Prompt", new_member_registration_path, class: "btn btn-primary btn-block" %>
				</div>
			</div>
		</div>
	</div>
</div>