<div class="row">
	<div class="container marginTopL marginBotL full-page">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="center">Come write with us!</h3>
			<p>We know that making a living as a writer can be tough. We created Heathcliff to not only benefit businesses but to benefit up-and-coming writers. We find businesses that are looking to have content created and then you fulfill that need :). All you have to is sign-up to be a writer on Heathcliff and wait for that first text-message alerting you that you've got a prompt to complete! All of your work will be reviewed and edited by one of our in-house editors. They will work with you to help sharpen your skills and progress your craft.</p>
			<p><%= link_to "Sign up now", new_member_registration_path %> or <%= mail_to "bradley@heathcliff.io", "email us", subject: "Heathcliff Question", body: "Hi, Heathcliff. I have a few q's for ya..." %> with any questions that you migh have.</p>

			<p>Cheers,</p>
			<p>The Heathcliff Team</p>
		</div>
	</div>
</div>