 <h3>Hello, <%= @member.first_name %></h3>
 <p>Here is the link to a new prompt that has been assigned to you!</p>
 <p><%= link_to "See the Prompt", prompt_url(@prompt) %></p>
 <p>Once you've navigated to the prompt, if you aren't interested please hit 'decline' so we can assign it to someone else!</p>
 <p>If you want it, just use the dropdown to change the prompts status to 'accepted!'</p>
 <p>Thanks,</p>
 <p>Brad and the Heathcliff team.<p>
